<a href="https://colab.research.google.com/github/chaubeyv/pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#2.Index Parameter:-The values need not be unique .if we are not using index,then pandas will
#generate default index labels which are integers starts from 0
# The number of index value should be shame as the number of values of data

In [6]:
#The number of data values and index values should be matched ,otherwise error

In [7]:
name_list=['Sunny','Bunny','Chinny']
s=pd.Series(data=name_list,index=['S','B'])
print(s)
#ValueError: Length of values (3) does not match length of index (2)#

ValueError: Length of values (3) does not match length of index (2)

In [11]:
#3.if data is dict,then matched indexes only will be considered from the dict
name_dict={'s':'sunny','b':'bunny','c':'chinny'}
s=pd.Series(data=name_dict,index=['s','b','a'])
print(s)

s    sunny
b    bunny
a      NaN
dtype: object

In [8]:
#2.Duplicate index label is allowed
name_list=['Sunny','Bunny','Chinny','Nikhikl']
s=pd.Series(data=name_list,index=['S','B','C','B'])
print(s)

S      Sunny
B      Bunny
C     Chinny
B    Nikhikl
dtype: object

In [5]:
name_list=['Sunny','Bunny','Chinny']
s=pd.Series(data=name_list,index=['s','b','c'])
print(s)

s     Sunny
b     Bunny
c    Chinny
dtype: object

In [2]:
#we can customize the index value

name_list=['Sunny','Bunny','Chinny','Binny']
s=pd.Series(data=name_list)
s.index=pd.RangeIndex(start=10,stop=14,step=1)
print(s)

10     Sunny
11     Bunny
12    Chinny
13     Binny
dtype: object

In [4]:
name_list=['Sunny','Bunny','Chinny','Binny']
s=pd.Series(data=name_list)
s.index=pd.RangeIndex(start=10,stop=17,step=2)
print(s)

10     Sunny
12     Bunny
14    Chinny
16     Binny
dtype: object

In [12]:
#dtype parameter

In [15]:
#we can use dtype parameter to specify data type for the output series
num_list=[10,20,30,40]
#s=pd.Series(data=num_list,dtype='float')
s=pd.Series(data=num_list,dtype='string')
print(s)

0    10
1    20
2    30
3    40
dtype: string

In [16]:
num_list=[0,10,20,30,40]
s=pd.Series(data=num_list,dtype='bool')
print(s)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [17]:
#name parameter
#we can assign name also to the series .For this we have to use name parameter.The default name is None
num_list=[10,20,20,40,50]
s=pd.Series(data=num_list,name='My Favourite Numbers')
print(s)

0    10
1    20
2    20
3    40
4    50
Name: My Favourite Numbers, dtype: int64

In [18]:
num_list=[10,20,20,40,50]
s=pd.Series(data=num_list)
s.name='My favourite numbers'
print(s)

0    10
1    20
2    20
3    40
4    50
Name: My favourite numbers, dtype: int64

In [20]:
#we can set name indexex also
num_list=[10,20,20,40,50]
s=pd.Series(data=num_list)
s.name='My favourite numbers'
s.index.name='Default indexes'
print(s)

Default indexes
0    10
1    20
2    20
3    40
4    50
Name: My favourite numbers, dtype: int64

In [ ]:
#copy parameter
#this parameter wether it is required to create view or copy
#The default value is false,i.e new object won't be created
#it is applicable only for ndarray

In [21]:
num_list=[10,20]
s=pd.Series(data=num_list,copy=False)
print(s)
num_list.append(30)
print(s)
# Here input type is list and hence copy parameter is not applicable

0    10
1    20
dtype: int64
0    10
1    20
dtype: int64

In [22]:
num_list=[10,20,30]
s=pd.Series(data=num_list,copy=False)
s.iloc[0]=999
print(s)
print(num_list)
#Even we changed to the series content,that change not reflected to the list input

0    999
1     20
2     30
dtype: int64
[10, 20, 30]

In [23]:
arr=np.array([10,20,30])
s=pd.Series(data=arr,copy=False)
s.iloc[0]=345
print(s)
print(arr)
#The changed of series object reflected automatically inside ndarray input

0    345
1     20
2     30
dtype: int64
[345  20  30]